.home__hero-section {
    color: #fff;
    padding: 160px 0;
  }
  
  .home__hero-row {
    align-items: center;
  }
  
  .row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .col{
    margin-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    flex: 1;
    align-self: center;
  }
  
  .home__hero-text-wrapper {
    max-width: 540px;
    padding-top: 0;
    padding-bottom: 60px;
  }
  
  .top-line {
    color: #f00946;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-bottom: 16px;
  }
  
  .heading {
    margin-bottom: 24px;
    font-size: 48px;
    line-height: 1.1;
    font-weight: 600;
    color: #f7f8fa;
  }
  
  .dark {
    color: #1c2237;
  }
  
  .darkBg {
    background-color: #1c2237;
  }
  
  .home__hero-subtitle {
    max-width: 440px;
    margin-bottom: 35px;
    font-size: 18px;
    line-height: 24px;
  }
  
  .home__hero-img-wrapper {
    max-width: 555px;
  }
  
  .home__hero-img {
    max-width: 95%;
    margin-top: 0;
    margin-right: 0;
    margin-left: 10px;
    padding-right: 0;
  }
  
  img {
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
  }
  
  .moodChange{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 20px;
  }

  .para{
    font-size: 1rem;
  }

  .infodark{
    color: #000;
    transition: all 0.3s ease-out;
  }

  .infolight{
    color: #fff;
    transition: all 0.3s ease-out;
  }

  .light-slider{
    cursor: pointer;
    position: relative;
    width: 25px;
    height: 6px;
    margin-right: 20px;
    margin-top: 10px;
  }

  .light{
    background-color: #1c2237;
    transition: all 0.3s ease-out;
  }

  .dark{
    background-color: #fff;
    transition: all 0.3s ease-out;
  }

  .mood{
    position: absolute;
    top:-2px;
    left: -7px;
    width: 10px;
    height: 10px;
    border-radius: 25px;
    overflow: auto;
  }

  .changelight{
    background-color: #1c2237;
    transform: translateX(0px);
    transition: all 0.3s ease-out;

  }

  .changedark{
    background-color: #fff;
    transform: translateX(29px);
    transition: all 0.3s ease-out;
  }

  @media screen and (max-width: 991px) {
    .container {
      padding-right: 30px;
      padding-left: 30px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .home__hero-text-wrapper {
      padding-bottom: 65px;
    }
  
    .col {
      max-width: 100%;
      flex-basis: 100%;
    }
  }